@import "./reset.css";
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior-x: none;
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: calc(100svw);
  height: calc(100svh - 55px);
  margin-left: auto;
  margin-right: auto;
}
